.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 500px; // or 400px depending on your taste
    width: 100%;
}